body {
    margin: 0;
    padding: 0;
    /*background-color: #141320;*/
    background-color: #000000;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

#about h1 {
    text-align: center;
}

h1.large:hover {
    font-size: 3em;
    color: #e6e6ff;
}

h1.large {
    font-size: 2.5em;
    display: inline;
    margin: auto;
    color: #b3b3ff;
}

div.h1-large-wrapper {
    height: 4em;
    text-align: center;
}

/*div.img-wrapper {
    padding-top: 2em;
    height: 5em;
    display: inline;
    margin: 0;
    padding: 0;
}*/

.profile-img {
    width: 400px;
    height: 400px;
}

table.profile-table {
    padding: 20px;
    display: inline;
    text-align: center;
}

table.profile-table tr {
    padding: 10px;
    display: inline;
}

table.profile-table tr td{
    padding: 10px;
}

.profile-desc-wrapper {
    height: 100px;
}

.profile-desc {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

#team-img {
    text-align: center;
}

#top {
    margin: 0;
    padding: 8cm 0cm;
    background-image: url("../img/lionfish.JPG");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
}

#top h1 {
    margin: 0;
    padding-left: 30px;
    color: #ff80aa;
    position: relative;
    bottom: 7em;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
}

#top-navbar {
    margin: 0;
    padding: 0;
}

#top-navbar ul{
    margin:0;
    padding: 1em 0em 2em 0em;
    background-image: url("../img/scale-light.png");
    background-color: #204060;
}

#top-navbar ul li{
    margin: 0;
    padding: 0 1em;
    display:inline;
    float:left;
}

#top-navbar ul .right{
    margin: 0;
    padding: 0;
    display:inline;
    float:right;
}

#top-navbar ul #logo-img-li {
    margin: 0;
    padding: 0 1em;
    display: inline;
    float: right;
    width: 3.5em;
}

#top-navbar ul #logo-img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: .8em;
}

#top-navbar ul .right h1 {
    margin: 0;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #dae6f1;
    position:relative;
    bottom: .3em;
}

#top-navbar ul li a{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0em 2em 0em 2em;
    font-size: 1em;
    color: #dae6f1;
    text-decoration: none;
    display: inline;
    position: relative;
}

#top-navbar ul li a:hover{
    color: #ff80aa;
}
